.footer {
  background-color: #2f303a;
  padding: 60px 0;

  &__container {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-wrap: wrap;
      align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
      align-items: baseline;
      justify-content: space-between;
    }
  }
}

.footer-contacts {
  @media screen and (min-width: 768px) {
    display: inline;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline;
    margin-left: 76px;
    margin-right: 165px;
    margin-bottom: 60px;
  }

  &__list {
    display: list-item;
    margin-top: 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }
}

.footer-logo {
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

.footer__link {
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }

  display: flex;
  text-decoration: none;

  line-height: 1.71;

  &--white {
    color: var(--text-white-color);
  }

  &--grey {
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--animation);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-socials {
  display: inline-block;
  justify-content: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline;

    margin-right: auto;
  }
  &__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: #ffffff;

    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
  }
}

.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-socials__icon {
  fill: var(--text-white-color);
}

//Footer-subscription"

.footer-subscription {
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0 auto;
  }

  &__title {
    display: block;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--text-white-color);

    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__input {
    transition: border-color var(--animation);

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    padding-left: 16px;
    align-items: center;

    color: var(--text-white-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: #2f303a;
    outline: transparent;

    &:focus,
    &:hover {
      border-color: var(--accent-color);
    }

    @media screen and (max-width: 479px) {
      width: 290px;
      height: 50px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 480px) and (max-width: 1199px) {
      width: 450px;
      height: 50px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      height: 50px;

      margin-right: 12px;
    }
  }
}

.btn {
  position: relative;
  margin: 0 auto;

  background-color: var(--accent-color);
  color: var(--text-white-color);

  width: 200px;
  min-height: 50px;
  padding: 10px 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    display: block;
    align-items: center;
  }

  &__desc {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    margin-right: 10px;
  }

  &__icon {
    position: absolute;
    top: 13px;
    bottom: 13px;
  }
}
