.logo {
    color: var(--accent-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    &__dark {
            color: #000000;
        }

    &__light {
            color: var(--text-white-color);
        }
}