.socials{
    &__list {
            display: flex;
            gap: 10px;
            list-style: none;
            justify-content: center;
        }
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    transition: background-color var(--animation);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

.socials__icon {
    fill: #afb1b8;
    transition: fill var(--animation);

    .socials__link:hover &,
    .socials__link:focus & {
            fill: var(--text-white-color);
        }
}